<!DOCTYPE html>

<html>
<head>
<title>Login</title>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/></head>
<body><p class="welcome">Welcome to Joseph Ngoma’s Journal App — a place for reflection, inspiration, and spiritual growth. If you're new, feel free to explore the daily devotionals or contact us for more info.</p>
<h2>🔐 Login to Access Your Journal</h2>
<form method="POST">
<label>Username:</label><br/>
<input name="username" type="text"/><br/><br/>
<label>Password:</label><br/>
<input name="password" type="password"/><br/><br/>
<button type="submit">Login</button>
</form>
</body>
</html>
